{{#each post in model}}
  <div class="post">
    <p>{{post.postDate}}</p>
    <p>{{post.text}}</p>
    <img {{bind-attr src=post.imageUrl}}>
    <img {{bind-attr src=post.thumbnailUrl}}>
    <p>{{post.locationName}}
  </div>
{{/each}}
