<ul class="trips">
  {{#each trip in content}}
  <li>{{#link-to 'trip' trip}}{{trip.name}} - ({{trip.startDate}} to {{trip.endDate}}){{/link-to}}</li>
      <ul>
        {{#each user in trip.users}}
          <li>{{user.name}}</li>
        {{/each}}
      </ul>
  {{/each}}
</ul>

{{outlet}}
